
@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ajax-Play</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
        <script src="@routes.Assets.versioned("js/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("js/bootstrap.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.JavaScriptController.javascriptRoutes"></script>
    </head>
    <body>
    <div id="body">
        <h1><font size="10"><center><b>Coders' World</b></center></font></h1>
        <ul class="list-inline intro-social-buttons">
            <li>
                <input type="button"  value="Log in"class="btn btn-default btn-lg" id="btn1" >
            </li>
            <li>
                <input type="button"  value="Sign up"class="btn btn-default btn-lg" id="btn" >
            </li>
        </ul>

    </div>
    </body>

</html>
